
@{
    ViewBag.Title = "RandomGenerator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RandomGenerator</h2>

<input type="number" id="inputMax" />
<input type="button" class="button__random" value="Generate Random Number"/>