
@{
    ViewBag.Title = "Timezones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timezones</h2>

<div>
    <p>Current Timezone is : @TimeZone.CurrentTimeZone.StandardName</p>
</div>

@*TODO: Awesome stuff here converting between timezones*@