@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>
            A basic calulator that allows you to perform basic operations: addition, subtraction, multiplcation, division. There is an outstanding request for modulo functionality.
        </p>
    </div>
    <div class="col-md-4">
        <h2>By Threes</h2>
        <p>
            A calculator specifically set up to perform the basic operations using 3 as the second number. There is an outstanding request to be able to perform modulo 3.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Random Number</h2>
        <p>
            A random number generator. Enter a max in the text field and it will output a random number between 0 and the max. Note: Users have reported that this currently only returns the max.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            Current features and states that can be toggled.
        </p>
    </div>
</div>